[submodule ".cursor/rules"]
	path = .cursor/rules
	url = https://github.com/drivestream-lab/nextjs-bff-rules
[submodule "prayog-skills"]
	path = prayog-skills
	url = https://github.com/drivestream-lab/prayog-skills
